a {
  transition: all .5s cubic-bezier(.075,.82,.165,1);
}

.slick-dots {
  bottom: -80px;
  width: 100%;
  text-align: center;
  right: 0;
}

.slick-dots .slick-active {
  width: 56px;
  transition: width .3s ease-in-out;
}

.slick-dots .slick-active .customDots {
  width: 56px;
  height: 8px;
  overflow: hidden;
  background-color: #353bca;
}

.slick-dots li {
  width: 14px;
  transition: width .3s ease-in-out;
  vertical-align: middle;
}

.customDots {
  height: 8px;
  width: 14px;
  background-color: #93c5fd;
  border-radius: 4px;
  position: relative;
  top: 0;
}
